* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 22px;
    background-color: #000;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

nav {
    height: 69px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
}

nav img {
    height: 50px;
    margin-left: 10px;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 10px;
    text-decoration: underline;
}

.our-mission {
    width: 1200px;
    height: 700px;
    margin: auto;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-size: cover;

}

.section-titles {
    background-color: #000;
    position: relative;
    top: 50%;
    padding: 15px 0;

}

.section-titles h2 {
    margin-bottom: 10px;
}

.featured-tea {
    padding-top: 30px ;
    width: 1000px;
    margin: auto;
}

.featured-tea ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


li img {
    height: 200px;
    width: 300px;
    padding: 15px;
}

.locations {
    height: 500px;
    width: 1200px;
    margin: auto;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-size: cover;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.location-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.locations-adresses {
    width: 300px;
    height: 300px;
    /* margin-right: 40px; */
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.locations-adresses.margin {
    margin-right: 40px;
} 

.contact {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.footer {
    text-align: left;
    margin-left: 20px;
}


